
html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
    color: white;
	overflow-x: hidden;
    min-height: 100vh;
    height: 100%;
    position: relative;
    background: #222222;
    opacity: 0.9;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../img/constructive_bg_01.jpg);
    background-position: center;
    background-size: cover;
}

/* #preload-01 { background: url(../assets/img/constructive_bg_01.jpg) no-repeat -9999px -9999px; }
#preload-02 { background: url(../assets/img/constructive_bg_02.jpg) no-repeat -9999px -9999px; }
#preload-03 { background: url(../assets/img/constructive_bg_03.jpg) no-repeat -9999px -9999px; }
#preload-04 { background: url(../assets/img/constructive_bg_04.jpg) no-repeat -9999px -9999px; } */


.container {
    display: flex;
}


.tm-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 10%;
    width: 100%;
    position: relative;
}


/*Oculta a página da direita*/
.tm-section {
    display: none;
    width: 100%;
    box-sizing: border-box;
}

.tm-section.active {
    width: 80%; /* ou qualquer largura desejada */
}

.sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 60px 50px;
    cursor: default;
    background: rgba(0,0,0,0.5);
    color: white;
}

/* .tm-bg-transparent-black {
    background-color: rgba(0,0,0,0.25);    
    padding: 30px;
} */

.tm-border-white { border: 1px solid white; }
    
ul { margin: 0; padding: 0; }

li {
    list-style-type: none;
    text-align: -webkit-match-parent;
}

a, button { 
    transition: all 0.3s ease; 
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

a:focus {
	text-decoration: none;
	outline: none;
}

a {	color: #FFF;  }

a:-webkit-any-link:active {
    color: webkit activelink;
}


h1,h2,h3 { font-weight: 300; }

p:last-child {
    margin-bottom: 0;
}


p {
    font-size: 1rem;
    line-height: 2.2;
    margin-top: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}


/*Ícones da página Our Company*/
.tm-icon-circled {
    font-size: 3rem;
    border-radius: 50%;
    border: 1px solid white;
    padding: 8px;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    width: 100px;
    height: 100px;
}

.media-tm-bg-transparent {
    padding: 30px;
}

.media {
    align-items: center;
}

#tm-section-3 {
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 150px;
    margin: 50px 50px 50px 15px;
}

.tm-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 10%;
    width: 100%;
    position: relative;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.tm-main-nav {
    font-size: 1.4rem;
}

.tm-main-nav { 
    font-size: 1.6rem; 
}

.tm-main-nav a {
    background-image: url(../img/nav-item.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    color: white;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin: 20px 0 40px 0;
    padding-bottom: 40px;
    padding-right: 80px;
    text-decoration: none;
}

/* adicionado */
.tm-main-nav a i{
    display: flex;
}

.tm-main-nav a:hover, .tm-main-nav a:focus, .tm-main-nav a.active {
    background-image: url(../img/nav-item-highlight.png);
    color: #33ccff;
    text-decoration: none;
}

.tm-main-nav a:hover .tm-nav-fa-icon, .tm-main-nav a:focus .tm-nav-fa-icon, .tm-main-nav a.active .tm-nav-fa-icon {
    border-color: #33ccff;
    
}

.tm-main-nav li {
    list-style: none;
}

/*Ícones da parte esquerda*/

.fa-menu {
    width: 50px;
    height: 50px;
    
}

.fa, .fas {
    font-weight: 900;
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    
}

.tm-nav-fa-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 35px;
}

.tm-main {
    height: 100%;
    min-height: 100vh;
    padding: 0;
}

.tm-main-row {
    height: 100%;
    min-height: 100vh;
    position: relative;
  }

.tm-btn-submit {
    border-radius: 0;
    display: block;
    padding: 15px 43px;
}

.tm-copyright-text {
    display: inline-block;
    padding: 5px 30px;
    background-color: rgba(0,0,0,0.5);
}


.tm-section {
    max-width: 100%;
    width: auto;
    background: transparent;    
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tm-contact-box-pad {
    padding: 60px 55px;
}

.tm-bg-transparent-black {
    background-color: rgba(0,0,0,0.25);
}

.col-md-6.tm-contact-col {
    margin-bottom: 0;
}

.col-md-6,.col-sm-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    background: transparent;
    border-color: white;
    border-radius: 0px;
    color: white;
    font-weight: 300;
    padding: 15px;
    margin-bottom: 15px;
}

.form-control:hover, :focus {
    border-color: #33ccff;
    outline: none;
}

input {
    border: 1px solid white;
    overflow: auto;
    resize: vertical;
    touch-action: manipulation;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
}

input::placeholder {
    color: white;
}

.navigation {
    margin-top: 100%;
}

input:hover, :focus {
    border-color: #33ccff;
    outline: none;
    
}

textarea {
    overflow: auto;
    resize: vertical;
    touch-action: manipulation;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
  
}

textarea::placeholder {
    color: white;
}


.tm-btn-submit {
    border-radius: 0;
    display: block;
    padding: 15px 43px;
    margin-left: 40%;
}

.tm-btn {
    
    font-size: 1.3rem;
    font-weight: 300;
    background: transparent;
    border-color: white;
    color: white;
    cursor: pointer;
    
}

.contact-form {
    justify-content: center;
    align-items: center;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    
}

.form-control:focus {
    background: transparent;
    color: white;
    border-color: #33ccff;
    box-shadow: none;
}

.footer-link {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-left: 20px;
    color: white;
    text-align:right;    
    width:100%;
    /* z-index: 999; */
}

.footer-link.relative { position: relative; }

.tm-copyright-text {
    display: inline-block;
    padding: 5px 30px;
    background-color: rgba(0,0,0,0.5);
}

.constructive_bg_01.jpg:active{
    background-image: url(../img/constructive_bg_01.jpg);
    background-position: center;
    background-size: cover;

}
/* MENU HAMBURGUER */
#tmMainNavToggle{
    display: none;
}

.ml-auto{
    margin: 10% 40% 10% 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.row{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-right:15px;
    padding-left:15px ;    
}
.mb-4{
    margin-bottom: 1.5rem;

}

.media{
    align-items: center;

}
.tm-bg-transparent-black{
    background-color: rgb(0, 0, 0, 0.25);
    padding: 30px;
    margin: 5%;
} 

.tm-border-white{
    border: 1px solid white;

}
.tm-text-shadow{
    font-size: 2.5rem;
    font-weight: 300;
    text-shadow:0 3px 2px rgb(50, 50, 50, 1);
    margin-bottom: 7%;
}

.tm-font-big{
    font-size: 1.3rem;
    margin-bottom: 3rem;
}
.tm-btn{
    font-weight: 300;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    border-color: white;
    padding: 15px 50px;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
}

.tm-btn:hover,
.tm-btn:focus {
    color: #33ccff;
    border-color: #33ccff;
    text-decoration: none;
}

/*Página Our Products*/
.tm-section-carousel {
    height: 520px;
    width: 935px;
    padding: 12px;
    margin: 12px;
    border-radius: 20px;
    position: absolute;
    top: 10%;
    left: 30%;
    
}
<<<<<<< HEAD
=======

.img-fluid {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.tm-section-carousel .slide .img-fluid {
    height: 100%;
    width: 100%;
}

.navigation {
    position: absolute;
    bottom: 160px;
    left: 850px;
    display: flex;
}

.bar {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transform: .5s ease;

}

.bar:hover {
    background-color: #FFF;

}

input {
    display: none;
    position: relative;
}

.tm-img-container {
    /*div das imagens*/
    width: 17%;
    transition: .6s;

    
}

.tm-img-slider {
    display: flex;
    width: 600%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}


>>>>>>> 1d4d40395352531e4cb15005f7d0167cc7099ef2

.img-fluid {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: baseline;
}

.tm-section-carousel .tm-img-container {
    width: 100%;
    align-items: center;
}

.tm-section-carousel .slide .img-fluid {
    height: 100%;
    width: 100%;
}

.navigation {
    position: absolute;
    align-items: left;
    bottom: -60px;
    text-align: auto;
    left: 850px;
    display: flex;
}

.bar {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #afa8a8;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.bar:hover {
    background-color: #FFF;

}

input {
    display: none;
}

.tm-img-container {
    /*div das imagens*/
    overflow: hidden;
       
}

/*Adicionado Carla*/
.tm-img-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    flex-direction: row;
}

.tm-slider-img {
    flex: 0 0 33.333%;
    transition: transform 0.5s ease-in-out;
}


#slide1:checked ~ .tm-img-container .tm-img-slider {
    transform: translateX(0);
}

#slide2:checked ~ .tm-img-container .tm-img-slider {
    transform: translateX(-33.333%);
}

#slide3:checked ~ .tm-img-container .tm-img-slider {
    transform: translateX(-66.666%);
}

#slide4:checked ~ .tm-img-container .tm-img-slider {
    transform: translateX(-100%);
}

#slide5:checked ~ .tm-img-container .tm-img-slider {
    transform: translateX(-133.333%);
}

#slide6:checked ~ .tm-img-container .tm-img-slider {
    transform: translateX(-166.66%);
}

footer a { color: white; }








